<a href="https://colab.research.google.com/github/franciscoromillo/Cleaning-DataBase/blob/main/Cleaning_IMDB_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Cleaning Dataset including EDA. Cleaning a popular Dataset about the film's information and score's films from IMDB website.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/IMDB.csv', sep=';') #lo de sep es para hacer que lea ; y te lo pueda leer (los csv suelen estar separados por , o por ;)

### EDA

In [ ]:
type(df) #para ver que df efectivamente es un dataframe

pandas.core.frame.DataFrame

In [ ]:
df.head() #o tail() que te muestra los ultimos 5 entradas

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
0,Color,Martin Scorsese,240,116866727.0,Biography|Comedy|Crime|Drama,The Wolf of Wall Street,2013,English,USA,100000000.0,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000
1,Color,Shane Black,195,408992272.0,Action|Adventure|Sci-Fi,Iron Man 3,2013,English,USA,200000000.0,7.2,"Robert Downey Jr.,Jon Favreau,Don Cheadle",95000
2,color,Quentin Tarantino,187,54116191.0,Crime|Drama|Mystery|Thriller|Western,The Hateful Eight,2015,English,USA,44000000.0,7.9,"Craig Stark,Jennifer Jason Leigh,Zoë Bell",114000
3,Color,Kenneth Lonergan,186,46495.0,Drama,Margaret,2011,English,usa,14000000.0,6.5,"Matt Damon,Kieran Culkin,John Gallagher Jr.",0
4,Color,Peter Jackson,186,258355354.0,Adventure|Fantasy,The Hobbit: The Desolation of Smaug,2013,English,USA,225000000.0,7.9,"Aidan Turner,Adam Brown,James Nesbitt",83000

In [ ]:
df.info() #gross es ingresos; float64 el 64 es referido al tamaño que puede almacenar, puede almacenar hasta el 2^64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   color                 86 non-null     object
 1   director_name         86 non-null     object
 2   duration              97 non-null     int64
 3   gross                 89 non-null     float64
 4   genres                96 non-null     object
 5   movie_title           97 non-null     object
 6   title_year            97 non-null     int64
 7   language              97 non-null     object
 8   country               97 non-null     object
 9   budget                93 non-null     float64
 10  imdb_score            97 non-null     float64
 11  actors                97 non-null     object
 12  movie_facebook_likes  97 non-null     int64
dtypes: float64(3), int64(3), object(7)
memory usage: 10.0+ KB

In [ ]:
df.describe() #asi vemos algunos estadisticos de cada variable, se pueden detectar cosas raras (una duracion y score negativas)

,duration,gross,title_year,budget,imdb_score,movie_facebook_likes
count,97.000000,8.900000e+01,97.000000,9.300000e+01,97.000000,97.000000
mean,155.515464,1.539379e+08,1975.690722,1.049830e+08,6.871134,65273.453608
std,73.550452,1.412026e+08,258.477165,7.784829e+07,1.939231,58018.198425
min,-50.000000,4.122900e+04,202.000000,1.735000e+04,-7.500000,0.000000
25%,138.000000,4.710508e+07,2012.000000,4.000000e+07,6.500000,24000.000000
50%,143.000000,1.156040e+08,2013.000000,7.800000e+07,7.200000,54000.000000
75%,154.000000,2.410639e+08,2014.000000,1.780000e+08,7.800000,85000.000000
max,650.000000,6.232795e+08,2016.000000,2.500000e+08,8.800000,349000.000000

In [ ]:
df.shape #te dice numero de filas y columnas

(97, 13)

In [ ]:
len(df) #para ver el numero de filas del dataset

97

In [ ]:
#vamos a ver filas duplicadas, es decir, que todos los atributos de las dos filas se repitan todos
df.duplicated() #para ver cuales son los duplicados hay que ponerlo entre llaves

0     False
1     False
2     False
3     False
4     False
      ...
92    False
93    False
94    False
95    False
96    False
Length: 97, dtype: bool

In [ ]:
df[df.duplicated()]

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
9,Color,Joss Whedon,173,623279547.0,Action|Adventure|Sci-Fi,The Avengers,2012,English,USA,220000000.0,8.1,"Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...",123000
20,Color,Tom Hooper,158,148775460.0,Drama|Musical|Romance,Les Misérables,2012,English,USA,61000000.0,7.6,"Hugh Jackman,Eddie Redmayne,Anne Hathaway",144000
29,Color,Ridley Scott,150,65007045.0,Action|Adventure|Drama,Exodus: Gods and Kings,2014,English,UK,140000000.0,6.1,"Christian Bale,María Valverde,Ben Mendelsohn",51000
51,Color,Sam Mendes,143,304360277.0,Action|Adventure|Thriller,Skyfall,2012,English,UK,200000000.0,7.8,"Albert Finney,Helen McCrory,Rory Kinnear",80000
53,Color,Baz Luhrmann,143,144812796.0,Drama|Romance,The Great Gatsby,2013,English,Australia,105000000.0,7.3,"Leonardo DiCaprio,Elizabeth Debicki,Steve Bisley",115000
61,Color,Timur Bekmambetov,141,NaN,Adventure|Drama|History,Ben-Hur,2016,English,USA,100000000.0,6.1,"Morgan Freeman,Ayelet Zurer,Moises Arias",0

In [ ]:
len(df[df.duplicated()]) #para ver cuantas duplicadas hay

6